.file-bot-wrapper{
    width: 400px;

    background-color: red;
}

.file-bot-wrapper .header{

    background-color: #333;
}

.file-bot-wrapper .header .title{
    height: 50px;
    width: 50%;

    overflow: hidden;
    text-overflow: ellipsis;

    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 300;
}
.file-bot-wrapper .header .button-container{
    width: 50%;
}


/***************************/
.task-list{
    padding: 20px;
    color : white;
}

.task-list .title{
    color : rgba(255,255,255,.6);
    font-size: 40px;
}

.task-list.active{
   background-color: #292;
}

.task-list.done{
    background-color: #922;
}

.task{
    cursor: pointer;
}
